{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-12">
            {% if page[0].translates[0] is defined %}
                {{ page[0].translates[0].translate|raw }}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <br><br>
        </div>
    </div>
    <div class="row">
        {% for key, value in gallery %}
            <div class="col-3">
                <p>{{ value.media.translate[0].name|raw }}</p>
                <img src="{% path value.media.id, 'small' %}">
                <p>{{ value.media.translate[0].description|raw }}</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}